/* responsive for mobile phone*/

@media only screen and (max-width: 600px) {
  /* common css style  */
  h2 {
    font-size: 2rem;
  }

  .section-article {
    width: 90%;
  }
  /* header css style */

  /* header top */
  .header .header-top .site-content {
    width: 70%;
  }

  .header .header-top .nav-content {
    width: 30%;
  }

  .header .header-top .nav-content ul {
    justify-content: end;
  }

  .header .header-top .nav-content ul li {
    display: none;
  }

  .header .header-top .nav-content ul .fa-bars {
    font-size: 1.7rem;
  }

  .header .header-top .nav-content ul li:last-child {
    display: block;
  }

  /* header bottom banner css */

  .header .banner .banner-title h1 {
    font-size: 2.5rem;
  }

  .header .banner .banner-title p {
    width: 90%;
  }

  .header .banner .banner-input input {
    display: block;
    margin-bottom: 15px;
  }

  .header .banner .banner-input .find {
    width: 95%;
    margin: auto;
    display: block;
  }

  /* main section css style */

  /* popular tours css */
  .popular-tours {
    flex-direction: column;
    row-gap: 50px;
  }

  .popular-tours .content,
  .popular-tours .image {
    width: 100%;
    padding: 0;
  }

  /* destination css style  */
  .destination .img-gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .destination .img-gallery .one,
  .destination .img-gallery .two,
  .destination .img-gallery .three,
  .destination .img-gallery .four,
  .destination .img-gallery .five,
  .destination .img-gallery .six,
  .destination .img-gallery .seven {
    grid-area: auto;
  }

  /* choose css style */
  .choose .card-wrapper {
    gap: 14px;
  }

  .choose .card-wrapper .one,
  .choose .card-wrapper .two,
  .choose .card-wrapper .three {
    flex-basis: 100%;
  }

  .testimonial .testimonial-box {
    flex-direction: column;
  }

  /* newsletter css style */
  .newsletter {
    flex-direction: column;
  }

  .newsletter .news-content {
    border: 1px solid var(--orange);
    width: 100%;
  }

  .newsletter .news-img .discount {
    top: 55%;
    right: 2%;
  }

  .newsletter .news-img {
    width: 100%;
  }

  /* footer css style */
  .footer-top p {
    width: 90%;
  }
}
