/* responsive for mobile phone*/

@media only screen and (max-width: 600px) {
  /* common css style  */
  h2 {
    font-size: 2rem;
  }

  /* header css style */

  /* header top */
  .header .header-top .site-content {
    width: 70%;
  }

  .header .header-top .nav-content {
    width: 30%;
  }

  .header .header-top .nav-content ul {
    justify-content: end;
  }

  .header .header-top .nav-content ul li {
    display: none;
  }

  .header .header-top .nav-content ul .fa-bars {
    font-size: 1.7rem;
  }

  .header .header-top .nav-content ul li:last-child {
    display: block;
  }

  /* header bottom banner css */

  .header .banner .banner-title h1 {
    font-size: 2.5rem;
  }

  .header .banner .banner-title p {
    width: 90%;
  }

  .header .banner .banner-input input {
    display: block;
    margin-bottom: 15px;
  }

  .header .banner .banner-input .find {
    width: 95%;
    margin: auto;
    display: block;
  }

  /* main section css style */

  /* popular tours css */
  .popular-tours {
    flex-direction: column;
    row-gap: 50px;
  }

  .popular-tours .content,
  .popular-tours .image {
    width: 100%;
    padding: 0;
  }

  /* hfgdhsg */
}
